.specifications{

  margin-top: 1.5rem;
  position: relative;
  padding: 1.5rem 45% 1.5rem 10%;
  @extend %boxed-radius-md;
  background-color: #eeeeee;
  margin-right: 2rem;

  @include media-breakpoint-up(md){
    margin-top: 3rem;
  }

  &--row{

    margin-bottom: 1rem;

    &-label{
      text-transform: uppercase;
      font-size: 0.725rem;
      letter-spacing: 0.2em;
    }

    &-value{
      font-family: $font-family-serif;
      font-size: 1.8rem;
      line-height: 1.1em;
      font-weight: 900;
      @include media-breakpoint-up(md){
        font-size: 2.4rem;
      }
    }
  }
}
